#body{
    color: white;
    background-color: black;
    font-family: "Inter Tight", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;  
    margin: 10%;
}

#img{
    border-radius: 70%;
    position: relative;
    padding-left:100px;
    padding-right: 100px;
    width: 20%;
    height: auto;
}

.id{
    border:5px ;
    margin:auto;
    width:30%;
    height:auto;
    background: rgb(22, 20, 20) ;
    text-align: center;
    padding-top: 30px;
    padding-bottom:20px;
}

.button{
    padding: 10px;
    width:250px;
    border-radius: 7px;
    border: 10px;
    background-color:rgb(53, 51, 51);
    color: beige;
    margin:4px;
}

#h1{
    font-size: 30px;
}

#h3{
    font-size: 17px;
    padding-top: 0px;
}


